html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#header {
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  position: fixed;
  top: 0;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  padding: 10px;
}

nav ul li a{
  color: #ffffff;
  text-decoration: none;
  border-style:groove;
  border-width: 2px;
  padding: 4px;
}

nav ul li a:hover {
  background-color: aqua;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}

main {
  width: 960px;
  margin: 0 auto;
  margin-top: 150px;
}

section {
  margin-bottom: 100px;
}